*{
    margin: 0;
    padding: 0;
    
}
#text-canva{
    color: black;
}
#dropdown{
    background: #fff;
    border: none;
}
#close{
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: #fff;
};
#h5-canva{
    color: #fff;
}
#content{
    margin-top: 50px;
}
#footer{
    background: rgb(33,37,41);
    color: #fff;
    margin-top: 30px;
    text-decoration: none;
    
    
}
#a{
    text-decoration: none;
    color: black;
}
#end{
    margin-top: 20px;
}


